body{
    margin:0;
    padding:0;
    background-color:powderblue;
}
form{
    width:30%;
}
.form-container{

    display:flex;
    justify-content:center;
    align-items:center;
}
.error{
    display:flex;
    align-items:center;
    margin-left:35rem;
}
.footer{
    height:3rem;
    background-color:black;
    color:white;
    position:absolute;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;

}
.footer .p{
    text-align:center;
}
.field-container legend{
    text-align:center;

}
.field-container{
    display:grid;
    grid-template-columns: (1,1fr);
    align-items:center;
}
.homediv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
